@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>session</h3>
@Session["D1"]
<hr />
<h3>ViewBag</h3>
@Session["D1"]
<hr />
<h3>ViewData</h3>
@Session["D1"]
<hr />
<h3>TempData</h3>
@Session["D1"]
<hr />